apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
- patch: |
    apiVersion: apps/v1
      kind: Deployment
      name: all
      spec:
        template:
          spec:
            securityContext:
              runAsNonRoot: true
              runAsUser: 5000
              runAsGroup: 5000
              fsGroup: 5000
  target:
    kind: Deployment
    name: "(source-controller|kustomize-controller|helm-controller|notification-controller)"
